---
layout: default
title: Blog
navid: blog
id: blog
---
<h2>Mon Blog</h2>
<p>
  Allez-voir <a href="https://hypotyposes.substack.com/" target="_blank">mon blog philosophique</a>,
  pour faire renaître l'espoir de la philo collective comme durant l'âge d'or d'internet.
</p>

<div style="margin:auto; width:90%;">
  <iframe src="https://hypotyposes.substack.com/embed" width="80%" height="320" style="border:1px solid #EEE; 
    background:white;" frameborder="0" scrolling="no"></iframe>
</div>

<h2> Quelques articles : </h2>
<div style="display: flex; flex-wrap: wrap; text-align: center;">
  
  <!-- {% assign random_blogposts = site.data.blogposts | randomize %} -->
  {% assign random_blogposts = site.data.blogposts %}
  {% for post in random_blogposts limit:4 offset:0 %}
    <div class="substack-post-embed">
      <p lang="fr">{{ post.title }}</p>
      {% if post.subtitle %}
      <p lang="fr">{{ post.subtitle }}</p>
      {% endif %}
      <a data-post-link href="{{ post.address }}">Lire sur Substack</a>
    </div>
    <script async src="./assets/js/substack_embed.js" charset="utf-8"></script>
  {% endfor %}
</div>