<nav id="navbar">
  {% for subnav in site.data.navigation %}
  <div class="subnav">
    {% for item in subnav %}
      {% if item.type == "solopage" %}
      <a href="{{ item.link }}" {% if page.navid == item.id %} class="active" {% endif %}>{{ item.name }}</a>
      {% else if item.type == "dropdown" %}
      <div {% if item.id == page.navid %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
        <form><button class="dropbtn" formaction="{{ item.link }}"> {{ item.name }}
          <i class="fa fa-caret-down"></i>
        </button></form>
        <div class="dropdown-content">
          {% for subitem in item.content %}
            <a href="{{ subitem.link }}" {% if page.id == subitem.id %} class="active" {% endif %}>{{ subitem.name }}</a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</nav>