.site-container {
max-width: 985px; /* Limits the width of the site */
// margin: 0 auto;    /* Centers the container horizontally */
margin-bottom: 100px;
padding: 0 6px;   /* Adds some horizontal padding for smaller screens */
box-sizing: border-box; /* Includes padding in the element's width */
}

p {
text-align: justify;
text-justify: inter-word;
width: 90%;
// max-width: 800px;
}

* {
box-sizing: border-box;
}

.row {
display: flex;
}

/* Create two equal columns that floats next to each other */
.piccolumn {
flex: auto;
padding-top: 50px;
width:30%;
// max-width: 600px;
}
.parcolumn {
flex:auto;
padding: 10px;
width:70%;
}

.image-row {
display: flex;
flex-wrap: wrap; /* Allows wrapping when the row is too small */
// max-width: 100%; /* Restricts the row to fit within the parent container */
margin: 0 auto; /* Center the row horizontally */
gap: 8px; /* Minimal spacing between images */
}

.image-row a {
flex: 1 1 calc(33.333% - 8px); /* Each link takes up a third of the row minus the gap */
text-decoration: none; /* Removes underline from links */
// max-width: 300px;
}

.image-row img {
max-width: 100%; /* Ensures images do not overflow */
height: auto; /* Maintains aspect ratio */
object-fit: cover; /* Ensures images fill their space */
border: 2px solid #ccc; /* Adds a border to the images */
border-radius: 4px; /* Optional: adds rounded corners to the borders */
transition: transform 0.3s, border-color 0.3s; /* Adds a hover effect */
}

.image-row img:hover {
transform: scale(1.01); /* Slightly enlarges the image on hover */
border-color: #808080d8; /* Changes the border color on hover */
}

.blurb {
margin-left: 15px;
font-style: oblique;
// margin: 0 auto;
max-width: 600px;
}
