---
layout: default
---

<h1>Le Projet AgregPhilo</h1>
<p>
  Bienvenu dans le Projet AgregPhilo. Son but est d'agréger à terme l'ensemble des données publiques concernant l'agrégation de philosophie, dans une base Open Source.
</p>

{{ content }}

<section>
  <h2>Comment contribuer ?</h2>
  <p>
    Si vous souhaitez participer au projet, savoir quoi faire, comment recueillir de nouvelles données, ou proposer quelque chose de plus sérieux que ce bricolage,
    <a href="/contact.html">contactez l'auteur de la page</a> !
  </p>
</section>