<!-- Copyright Pierrot Seban 2024- -->
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/main.js"></script>
    <link href="{{ 'assets/css/styles.css' | relative_url }}" rel="stylesheet">
    <link href="{{ 'assets/css/nav.css' | relative_url }}" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
    {% feed_meta %}
    {% seo %}
  </head>
  <div class="site-container">
    <body>
      {% include navbar.html %}
      {{ content }}
    </body>
  </div>
</html>